<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="base">
        <xacro:property name="PI" value="3.1415926"/>

        <link name="base_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://test_description/meshes/ec66/base_link.STL" />
                </geometry>
                <material name="white" />
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://test_description/meshes/ec66/base_link.STL" />
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="0.00001"/>
                <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
            </inertial>
        </link>

        <link name="link1">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://test_description/meshes/ec66/link1.STL" />
                </geometry>
                <material name="white" />
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://test_description/meshes/ec66/link1.STL" />
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="0.00001"/>
                <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
            </inertial>
        </link>

        <link name="link2">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://test_description/meshes/ec66/link2.STL" />
                </geometry>
                <material name="white" />
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://test_description/meshes/ec66/link2.STL" />
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="0.00001"/>
                <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
            </inertial>
        </link>

        <link name="link3">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://test_description/meshes/ec66/link3.STL" />
                </geometry>
                <material name="white" />
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://test_description/meshes/ec66/link3.STL" />
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="0.00001"/>
                <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
            </inertial>
        </link>

        <link name="link4">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://test_description/meshes/ec66/link4.STL" />
                </geometry>
                <material name="white" />
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://test_description/meshes/ec66/link4.STL" />
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="0.00001"/>
                <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
            </inertial>
        </link>

        <link name="link5">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://test_description/meshes/ec66/link5.STL" />
                </geometry>
                <material name="white" />
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://test_description/meshes/ec66/link5.STL" />
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="0.00001"/>
                <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
            </inertial>
        </link>

        <link name="link6">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://test_description/meshes/ec66/link6.STL" />
                </geometry>
                <material name="white" />
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://test_description/meshes/ec66/link6.STL" />
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="0.00001"/>
                <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
            </inertial>
        </link>

        <joint name="joint1" type="revolute">
            <parent link="base_link"/>
            <child link="link1"/>
            <origin xyz="0 0 0.096" rpy="0 0 ${PI}"/>
            <axis xyz="0 0 1"/>
            <limit lower="${-PI}" upper="${PI}" effort="1.0" velocity="2.01"/>
            <dynamics damping="0.0" friction="0.0"/>
        </joint>

        <joint name="joint2" type="revolute">
            <parent link="link1"/>
            <child link="link2"/>
            <origin xyz="0 0 0" rpy="${PI/2} ${-PI/2} 0"/>
            <axis xyz="0 0 1"/>
            <limit lower="${-PI}" upper="${PI}" effort="1.0" velocity="2.01"/>
            <dynamics damping="0.0" friction="0.0"/>
        </joint>

        <joint name="joint3" type="revolute">
            <parent link="link2"/>
            <child link="link3"/>
            <origin xyz="0 0.418 0" rpy="0 0 ${PI/2}"/>
            <axis xyz="0 0 1"/>
            <limit lower="${-PI * 0.8}" upper="${PI * 0.8}" effort="1.0" velocity="2.01"/>
            <dynamics damping="0.0" friction="0.0"/>
        </joint>

        <joint name="joint4" type="revolute">
            <parent link="link3"/>
            <child link="link4"/>
            <origin xyz="0.398 0 0.122" rpy="0 0 0"/>
            <axis xyz="0 0 1"/>
            <limit lower="${-PI}" upper="${PI}" effort="1.0" velocity="2.01"/>
            <dynamics damping="0.0" friction="0.0"/>
        </joint>

        <joint name="joint5" type="revolute">
            <parent link="link4"/>
            <child link="link5"/>
            <origin xyz="0 0.098 0" rpy="${PI/2} 0 ${-PI}"/>
            <axis xyz="0 0 1"/>
            <limit lower="${-PI}" upper="${PI}" effort="1.0" velocity="2.01"/>
            <dynamics damping="0.0" friction="0.0"/>
        </joint>

        <joint name="joint6" type="revolute">
            <parent link="link5"/>
            <child link="link6"/>
            <origin xyz="0 -0.089 0" rpy="${-PI/2} 0 ${PI}"/>
            <axis xyz="0 0 1"/>
            <limit lower="${-PI}" upper="${PI}" effort="1.0" velocity="2.01"/>
            <dynamics damping="0.0" friction="0.0"/>
        </joint>

    </xacro:macro>
</robot>